body{
  font-family: 'Nunito', sans-serif;
  background-image: url("Background.png");
  height: 100vh; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.login_container{
    position:absolute;
    top: 22%;
    left:65%;
    width: 400px;
    background-color: white;
    border-radius: 20px;
}
.login_container h1{
    color: #32529F;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 4px solid #32529F;
}
.login_container form{
    padding: 0 40px;
    box-sizing: border-box  ;
}

form .txt_feild{
    position: relative;
    border-bottom: 2px solid silver;
    margin: 30px 0;
}

.txt_feild input{
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.txt_feild label{
    position:absolute;
    top: 50%;
    left: 5px;
    color: silver;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight:800;
    pointer-events: none;
    transition: .5s;
}
.txt_feild span{
   
    color:#e74c3c;
      top: 40px;
      position: absolute;
	  bottom: 0;
	  left: 0;
      background: #32529F;
	  visibility: hidden;
}
.txt_feild.error span {
	visibility: visible;
}
.txt_feild input:focus ~label,
.txt_feild input:valid ~label{
    top: -5px;
    color: #32529F;
    
}
.txt_feild input:focus ~span::before,
.txt_feild input:valid ~span::before{
    width: 100%;
}

.forgot{
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}
.forgot:hover{
    text-decoration: underline;
}

input[type="submit"]{
    margin: 5px 80px;
    border: 1px solid;
    background: #32529F;
    width: 50%;
    height: 50px;
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    font-weight: 700;
    cursor:pointer;
    outline: none;
}
input[type="submit"]:hover{
    border-width: 2px;
    border-color: #32529F;
    transition: .5s;
}
.sign_uplink{
    margin: 30px 0;
    text-align: center;
}
